:root {
  --color-red: #ff4b55;
  --color-grey: #c4c4c4;
}

.theme-light {
  --theme-fg: #1a1a1a;
  --theme-bg: #fff;
  --theme-accent: #004e93;
  --theme-border: rgba(26, 26, 26, .3);
  --theme-shadow: 0px 4px 20px 0px rgba(0, 0, 0, .3);
}

.theme-dark {
  --theme-fg: #fff;
  --theme-bg: #1a1a1a;
  --theme-accent: #6CACE4;
  --theme-border: rgba(255, 255, 255, .3);
  --theme-shadow: 0px 4px 20px 0px rgba(255, 255, 255, .7);
}

html {
  color: var(--theme-fg);
	font-size: 16px;
  font-weight: 400;
	height: 100%;
  background-color: var(--theme-bg);
	scroll-behavior: smooth;
}

body {
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	align-content: start;
	min-height: 100%;
}

img {
  display: block;
	max-width: 100%;
	height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}