.header {
  background-color: var(--theme-bg);
  border-bottom: 1px solid var(--theme-border);
  transition: .2s;

  &--sticky {	
    box-shadow: 0 0 25px var(--theme-border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;

    + main { padding-top: 60px; }
  }
}

.header__container {
  @include container;

  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}