.work__img-link {
  display: block;
  margin-bottom: 15px;
  border-radius: 6px;

  @include media-min(md) { margin-bottom: 30px; }
}

.work__img {
  width: 100%;
  max-height: 280px;
  border-radius: inherit;
  object-fit: cover;
  object-position: top center;
}

.work__inner-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.work__title { margin-bottom: 0; }

.work__title-link {
  position: relative;
  transition: .2s;

  &::before {
    content: "";
    width: 0;
    height: 1px;
    background-color: var(--color-red);
    position: absolute;
    top: 100%;
    left: 0;
    transition: .2s;
  }

  &:hover,
  &:focus-visible {
    &::before { width: 100%; }
  }
}

.work__social { 
  display: flex;
  flex-wrap: wrap;
  gap: 5px 10px;
  margin-left: 10px;
}

.work__social-link {
  transition: .2s;

  &:hover,
  &:focus-visible {
    color: var(--theme-accent);
  }
}

.work__social-icon { display: block; }
.work__description { margin-bottom: 5px; }
.work__hint { color: var(--theme-accent); }